<div class="card" [class.border-success]="isEditing()">

  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <b>
          <span translate>
            TICKETNUMBER
          </span>:
        </b>
        <span *ngIf="!isEditing()" [innerHTML]="changeLogItem.ticketNumber | safeHtml">          
        </span>
        <input *ngIf="isEditing()" type="text" name="" id="" [(ngModel)]="changeLogItem.ticketNumber">
      </div>
      <div class="col-2">
        <span *ngIf="isEditing()">
          Okos szerkesztő:
          <p-inputSwitch onLabel="Igen" offLabel="Nem" [(ngModel)]="isEditor"></p-inputSwitch>
        </span>
      </div>
      <div class="col-1">
        <a href="/" class="btn btn-secondary pull-right" *ngIf="isEditing() && isMoreThenOneLang()" (click)="showTranslatePanel($event)">
          <span class="fa fa-language"></span>
          <span translate>
            TRANSLATION
          </span>
        </a>
      </div>
      <div class="col-6">
        <div class="pull-right" [class.text-info]="changeLogItem.type == 'feature'" [class.text-danger]="changeLogItem.type == 'bugfix'">
          <span class="text-uppercase" *ngIf="!isEditing()">
            {{changeLogItem.type}}
          </span>

          <p-dropdown [options]="types" [(ngModel)]="changeLogItem.type" *ngIf="isEditing()"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <p-messages [(value)]="msgs"></p-messages>
    <div class="row">
      <div class="col-lg-9 col-sm-6">
        <div class="card-text" *ngFor="let description of descriptions">
          <div class="cardcard-primary p-1">
            <blockquote class="card-blockquote">
              <div>
                <div class="row bortder border border-bottom-0 border-right-0 border-info">
                  <div class="col-lg-1 col-md-3 col-sm-6 border border-info bg-info text-light rounded">
                    {{description.lang}}
                  </div>
                  <div class="col-lg-11 col-md-9 col-sm-6">

                    <div *ngIf="!isEditing()" style="width: 100%; min-height: 100px;  " [innerHTML]="description.text | safeHtml"></div>
                    <p-editor *ngIf="isEditing()&&isEditor" [(ngModel)]="description.text" [style]="{'height':'100px'}"></p-editor>
                    <textarea *ngIf="isEditing()&&!isEditor" cols="30" rows="10" style="width: 100%; height: 100px" [(ngModel)]="description.text"></textarea>

                  </div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 border border-primary bg bg-light">
        <dl class="row">
          <dt class="col-lg-6" translate>
            CATEGORY
          </dt>
          <dd class="col-lg-6">
            <span *ngIf="!isEditing()">
              {{(changeLogItem.category) ? changeLogItem.category: 'N.A.'}}
            </span>
            <input *ngIf="false" type="text" name="" id="" [(ngModel)]="changeLogItem.category" style="width: 95%">
            <div *ngIf="isEditing()">Nem szerkeszthető</div>
          </dd>
          <dt class="col-lg-6" translate>
            SUBCATEGORY
          </dt>
          <dd class="col-lg-6">
            <span *ngIf="!isEditing()">
              {{(changeLogItem.subCategory) ? changeLogItem.subCategory: 'N.A.'}}
            </span>
            <input *ngIf="false" type="text" name="" id="" [(ngModel)]="changeLogItem.subCategory" style="width: 95%">
            <div *ngIf="isEditing()" translate>NOT_EDITABLE</div>
          </dd>
          <dt class="col-lg-6" translate>
            KEYWORDS
          </dt>
          <dd class="col-lg-6">
            <div *ngIf="!isEditing() && changeLogItem.keywords && (changeLogItem.keywords.length > 0)">
              <div *ngFor="let keyword of changeLogItem.keywords">
                {{keyword}}
              </div>
            </div>
            <div *ngIf="!isEditing() && (!changeLogItem.keywords || changeLogItem.keywords.length == 0)">
              N.A.
            </div>
            <div *ngIf="isEditing()" translate>NOT_EDITABLE</div>
          </dd>
          <dt class="col-lg-6" translate>
            CREATOR
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.cru) ? changeLogItem.cru: 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            CREATED
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.crd) ? changeLogItem.crd: 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            LAST_MODIFIER
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmu) ? changeLogItem.lmu: 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            LAST_MODIFIED
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmd) ? changeLogItem.lmd: 'N.A.'}}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <span *ngIf="!isEditing()">
      {{changeLogItem.date | date: 'yyyy.MM.dd.'}}
    </span>
    <p-calendar *ngIf="isEditing()" [(ngModel)]="changeLogItem.date" dateFormat="yy.mm.dd"></p-calendar>
    <a href="/" class="btn btn-danger pull-right" (click)="deleteMessageShow($event)" *ngIf="canBeModified()">
      <span class="fa fa-trash"></span>
    </a>
    <a href="/" class="btn btn-primary pull-right" [routerLink]="['/change-list', program.id, version, 'mod', changeLogItem.id]"
    [queryParams]="{lang: getActualLang()}"
      *ngIf="canBeModified()">
      <span class="fa fa-edit"></span>
    </a>
    <a href="/" class="btn btn-success pull-right" (click)="save($event)" *ngIf="isEditing()">
      <span class="fa fa-save"></span>
    </a>
    <a href="/" class="btn btn-secondary pull-right" (click)="cancelMod($event)" *ngIf="isEditing()">
      <span class="fa fa-close"></span>
    </a>
  </div>
</div>

<p-dialog [(visible)]="deleteMessageShown" modal="true">
  <p-header translate>
    CONFIRMATION
  </p-header>
  <span translate>
    ARE_YOU_SURE_DELETE_THIS_CHANGE_LOG_ITEM    
  </span>
  <div class="p-2">
    <a href="/" class="btn btn-secondary pull-right" (click)="cancelDelete($event)">
      <span class="fa fa-close" translate>CANCEL</span>
    </a>
    <a href="/" class="btn btn-danger pull-right" (click)="delete($event)">
      <span class="fa fa-trash" translate>DELETE</span>
    </a>
  </div>

</p-dialog>

<p-dialog [(visible)]="translatePanelShown" modal="true">
  <p-header translate>
    TRANSLATION
  </p-header>
  <div class="p-2">
    <span translate>
      SOURCE_LANGUAGE
    </span>:
    <span *ngIf="froms&&froms.length>0">
      <p-dropdown [options]="froms" [(ngModel)]="selectedFrom"></p-dropdown>
    </span>
  </div>
  <div class="p-2">
    <span translate>
      GOAL_LANGUAGES
    </span>:
    <p-selectButton [options]="tos" [(ngModel)]="selectedTos" [multiple]="true"></p-selectButton>
  </div>
  <div class="p-2">
    <a href="/" class="btn btn-secondary pull-right" (click)="cancelTranslate($event)">
      <span class="fa fa-close" translate>CANCEL</span>
    </a>
    <a href="/" class="btn btn-primary pull-right" (click)="translate($event)">
      <span class="fa fa-language" translate>TRANSLATE</span>
    </a>
  </div>

</p-dialog>