<div class="card" [class.border-success]="isEditing()">

  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <b>Jegyszám:</b>
        <span *ngIf="!isEditing()">
          {{changeLogItem.ticketNumber}}
        </span>
        <input *ngIf="isEditing()" type="text" name="" id="" [(ngModel)]="changeLogItem.ticketNumber">
      </div>
      <div class="col-6">
        <div class="pull-right" [class.text-info]="changeLogItem.type == 'feature'" [class.text-danger]="changeLogItem.type == 'bugfix'">
          <span class="text-uppercase" *ngIf="!isEditing()">
            {{changeLogItem.type}}
          </span>

          <p-dropdown [options]="types" [(ngModel)]="changeLogItem.type" *ngIf="isEditing()"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <p-messages [(value)]="msgs"></p-messages>
    <div class="row">
      <div class="col-lg-9 col-sm-6">
        <div class="card-text" *ngFor="let description of changeLogItem.descriptions">
          <div class="cardcard-primary p-1">
            <blockquote class="card-blockquote">
              <div>
                <div class="row bortder border border-bottom-0 border-right-0 border-info">
                  <div class="col-lg-1 col-md-3 col-sm-6 border border-info bg-info text-light rounded">
                    {{description.lang}}
                  </div>
                  <div class="col-lg-11 col-md-9 col-sm-6">

                    <div *ngIf="!isEditing()" style="width: 100%; height: 100px" [innerHTML]="description.text | safeHtml"></div>

                    <textarea *ngIf="isEditing()" name="" id="" cols="30" rows="10" style="width: 100%; height: 100px" [(ngModel)]="description.text"></textarea>
                  </div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 border border-primary bg bg-light">
        <dl class="row">
          <dt class="col-lg-6">
            Kategória
          </dt>
          <dd class="col-lg-6">
            <span *ngIf="!isEditing()">
              {{(changeLogItem.category) ? changeLogItem.category: 'N.A.'}}
            </span>
            <input *ngIf="false" type="text" name="" id="" [(ngModel)]="changeLogItem.category" style="width: 95%">
            <div *ngIf="isEditing()">Nem szerkeszthető</div>
          </dd>
          <dt class="col-lg-6">
            Alkategória
          </dt>
          <dd class="col-lg-6">
            <span *ngIf="!isEditing()">
              {{(changeLogItem.subCategory) ? changeLogItem.subCategory: 'N.A.'}}
            </span>
            <input *ngIf="false" type="text" name="" id="" [(ngModel)]="changeLogItem.subCategory" style="width: 95%">
            <div *ngIf="isEditing()">Nem szerkeszthető</div>
          </dd>
          <dt class="col-lg-6">
            Kulcsszavak
          </dt>
          <dd class="col-lg-6">
            <div *ngIf="!isEditing() && changeLogItem.keywords && (changeLogItem.keywords.length > 0)">
              <div *ngFor="let keyword of changeLogItem.keywords">
                {{keyword}}
              </div>
            </div>
            <div *ngIf="!isEditing() && (!changeLogItem.keywords || changeLogItem.keywords.length == 0)">
              N.A.
            </div>
            <div *ngIf="isEditing()">Nem szerkeszthető</div>
          </dd>
          <dt class="col-lg-6">
            Létrehozó
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.cru) ? changeLogItem.cru: 'N.A.'}}
          </dd>
          <dt class="col-lg-6">
            Létrehozva
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.crd) ? changeLogItem.crd: 'N.A.'}}
          </dd>
          <dt class="col-lg-6">
            Utolsó módosító
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmu) ? changeLogItem.lmu: 'N.A.'}}
          </dd>
          <dt class="col-lg-6">
            Utoljára módosítva
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmd) ? changeLogItem.lmd: 'N.A.'}}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <span *ngIf="!isEditing()">
      {{changeLogItem.date | date: 'yyyy.MM.dd.'}}
    </span>
    <p-calendar *ngIf="isEditing()" [(ngModel)]="changeLogItem.date" dateFormat="yy.mm.dd"></p-calendar>
    <a href="/" class="btn btn-danger pull-right" (click)="deleteMessageShow($event)"
      *ngIf="canBeModified()">
      <span class="fa fa-trash"></span>
    </a>
    <a href="/" class="btn btn-primary pull-right" [routerLink]="['/change-list', program.id, version, 'mod', changeLogItem.id]"
      *ngIf="canBeModified()">
      <span class="fa fa-edit"></span>
    </a>    
    <a href="/" class="btn btn-success pull-right" (click)="save($event)" *ngIf="isEditing()">
      <span class="fa fa-save"></span>
    </a>
    <a href="/" class="btn btn-secondary pull-right" [routerLink]="['/change-list', program.id, version, 'read', 'none']" *ngIf="isEditing()">
      <span class="fa fa-close"></span>
    </a>
  </div>
</div>

<p-dialog [(visible)]="deleteMessageShown" modal="true">
    <p-header>
        Megerősítés
    </p-header>
    Biztos, hogy törölni szeretné a bejegyzést?
    <div class="p-2">
      <a href="/" class="btn btn-secondary pull-right" (click)="cancelDelete($event)" >
        <span class="fa fa-close">Mégsem</span>
      </a>        
      <a href="/" class="btn btn-danger pull-right" (click)="delete($event)">
        <span class="fa fa-trash">Töröl</span>
      </a>              
    </div>
    
</p-dialog>