<div class="container-fluid">
  <div class="row">
    <app-left-navbar [viewMode]="'COMPACT'"></app-left-navbar>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <div class="pb-5">
        <div class="pl-5 pt-4 pull-right">
        </div>
      </div>
      <div class="clearfix">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
      <div class="row m-0" style="padding-bottom: 2%;">
        <div class="col-md-3">
          <a href="#" class="btn btn-success" *ngIf="program" href="/"
            [routerLink]="['/change-list', program.id, getLastVersion(program), 'read', 'none']" translate>
            NORMAL VIEW
          </a>
        </div>
      </div>
      <div class="row m-0" translate>
        STARTING DATE
        <p-calendar [(ngModel)]="startDate" dateFormat="yy.mm.dd" [showIcon]="true"></p-calendar>
        <div class="col-md-4" translate>
          END DATE
          <p-calendar [(ngModel)]="vegeDate" dateFormat="yy.mm.dd" [showIcon]="true">></p-calendar>
        </div>
        <div class="col-md-3">
          <button type=" button" style="width:  250px; height: 40px;" class="btn btn-info btn-sm pull-right"
            (click)="buildCompactChangesText($event)" translate>
            FILTRATION
          </button>
        </div>
      </div>

      <div class="mt-3 mb-5">
        <span class="m-0 " *ngFor="let change of iTagInfosCheckBox">
          {{change.nev}}:
          <p-inputSwitch class="p-2 pl-2" name="change.code" (click)="onClick(change.code)"
            [(ngModel)]="change.selected">
          </p-inputSwitch>
        </span>
      </div>

      <div class="m-0" *ngFor="let change of rendezVezerles">
        <span> Rendezés {{change+1}}: </span>
        <p-dropdown class="p-2 mb-3" [options]=" rendezKihagy" (onChange)="iRendezCompactValaszt($event.value,change)">
        </p-dropdown>
        <span class="mb-5 p-2">
          <input class="mb-3" *ngIf="change===0" type="checkbox" [(ngModel)]="csokkenNovekvoElso"
            (change)="toggleVisibility($event,change)" />
          <input class="mb-3" *ngIf="change===1" type="checkbox" [(ngModel)]="csokkenNovekvoMasodik"
            (change)="toggleVisibility($event,change)" />
          <input class="mb-3" *ngIf="change===2" type="checkbox" [(ngModel)]="csokkenNovekvoHarmadik"
            (change)="toggleVisibility($event,change)" />
          <input class="mb-3" *ngIf="change===3" type="checkbox" [(ngModel)]="csokkenNovekvoNegyedik"
            (change)="toggleVisibility($event,change)" />
          <input class="mb-3" *ngIf="change===4" type="checkbox" [(ngModel)]="csokkenNovekvoOtodik"
            (change)="toggleVisibility($event,change)" />
          <input *ngIf="change===5" type="checkbox" [(ngModel)]="csokkenNovekvoHatodik"
            (change)="toggleVisibility($event,change)" />
          <input *ngIf="change===6" type="checkbox" [(ngModel)]="csokkenNovekvoHetedik"
            (change)="toggleVisibility($event,change)" />
          <span style="color: royalblue" *ngIf="change===0 && csokkenNovekvoElso || change===1 && csokkenNovekvoMasodik || 
                        change===2 && csokkenNovekvoHarmadik ||change===3 && csokkenNovekvoNegyedik ||
                         change===4 && csokkenNovekvoOtodik || change===5 && csokkenNovekvoHatodik || 
                         change===6 && csokkenNovekvoHetedik"> Növekvő</span>
          <span style="color: chocolate" *ngIf="change===0 && !csokkenNovekvoElso || change===1 && !csokkenNovekvoMasodik || 
                change===2 && !csokkenNovekvoHarmadik || change===3 && !csokkenNovekvoNegyedik || 
                change===4 && !csokkenNovekvoOtodik || change===5 && !csokkenNovekvoHatodik || 
                change===6 && !csokkenNovekvoHetedik"> Csökkenő</span>
        </span>
        <span class="p-1">
          <button *ngIf="this.torlesHozzadasVezerles===change" class="row m-0 btn btn-primary" type=" button"
            (click)='rendezesTorlese($event,change)'>-</button>
        </span>
        <span class="p-1">
          <button *ngIf="this.torlesHozzadasVezerles===change" class="row m-0 btn btn-primary" type="button"
            (click)='rendezesHozzaadas($event.value,change)'>+</button>
        </span>
      </div>



      <div class="col-md-10 pl-0">
        <div>
          <table class="table table-hover table-bordered mt-3 mb-3" style="padding-top: 5%;">
            <thead class="thead-dark">
              <tr>
                <th *ngFor="let item of tableAdatokRendezes; let i = index" [attr.data-index]="i">
                  {{ tableAdatokRendezes[i].value}}
                </th>
                <th *ngFor="let item of tableAdatokRendezesNelkul; let i = index" [attr.data-index]="i">
                  {{ tableAdatokRendezesNelkul[i].value}}
                </th>
                <th>
                  Szöveg
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tableData of this.tableAdatok let i=index">
                <td *ngFor="let item of tableAdatokRendezes; let i = index" [attr.data-index]="i">
                  {{ dinamikusTable(tableData,this.tableAdatokRendezes[i].property)}}
                </td>
                <td *ngFor="let item of tableAdatokRendezesNelkul; let i = index" [attr.data-index]="i">
                  {{ dinamikusTable(tableData,this.tableAdatokRendezesNelkul[i].property)}}
                </td>
                <td>
                  {{tableData.text}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pull-right">

          <span class="p-2">
            <button class="btn btn-primary" type="button" (click)="copyMessage(this.text)" translate>
              COPY TO CLIPBOARD
            </button>
          </span>

          <span class="p-2">
            <a href="/" class="btn btn-danger" translate> VERSION CHANGES
            </a>
          </span>

        </div>
      </div>
    </main>
  </div>
</div>