<div class="container-fluid">
    <div class="row">
        <app-left-navbar></app-left-navbar>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div class="pb-5">
                <div class="pl-5 pt-4 pull-right">
                </div>

            </div>
            <div class="clearfix">
                <p-messages [(value)]="msgs"></p-messages>
            </div>
            <div class="row">
              <div class="col-md-3" translate>
                 STARTING DATE
                 <p-calendar [(ngModel)]="startDate"  dateFormat="yy.mm.dd" [showIcon]="true"></p-calendar> 
                 
              </div>

               <div class="col-md-3 .col-md-pull-9" translate>
                  END DATE
                 <p-calendar [(ngModel)]="vegeDate" dateFormat="yy.mm.dd" [showIcon]="true">></p-calendar>  
               </div>

               <div class="pb-2 pt-4 ml-sm-auto pl-1 col-md-3">
                <button type="button" class="btn btn-success btn-sm" (click)="selectedTypesChange($event)" translate>
                  FILTRATION               
                </button>
               </div>
            </div>
                <div class="col-md-10 pl-0">
                        <textarea  cols="118" rows="15" style="color:darkblue; width: 100%; height: 100%" [innerHTML]="text"  
                        [(ngModel)]="text " > 
                       </textarea >
                     
                       
                       <a href="/" class="btn btn-danger pull-right" translate> VERSION CHANGES
                       </a>
                    <div>

                    <button class="btn btn-success"  type="button" (click)="copyMessage(this.text)"  translate>
                      COPY TO CLIPBOARD
                    </button> 

                    <a href="#" class="btn btn-primary pull-right" href="/" [routerLink]="['/change-list', program.id, getLastVersion(program), 'read', 'none']" translate>
                      NORMAL VIEW
                    </a>

                   

                    

                    </div>
                </div>
            <div>
            </div>
        </main>
    </div>
</div>













