<div class="card" [class.border-success]="isEditing()">

  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <b>
          <span translate>
            TICKETNUMBER
          </span>:
        </b>
        @if (!isEditing()) {
          <span [innerHTML]="changeLogItem.ticketNumber | safeHtml">
          </span>
        }
        @if (isEditing()) {
          <input type="text" name="" id="" [(ngModel)]="changeLogItem.ticketNumber">
        }
      </div>
      <div class="col-2">
        @if (isEditing()) {
          <span>
            Okos szerkesztő:
            <kendo-switch onLabel="Igen" offLabel="Nem" [(ngModel)]="isEditor"></kendo-switch>
          </span>
        }
      </div>
      <div class="col-1">
        @if (isEditing() && isMoreThenOneLang()) {
          <a href="/" class="btn btn-secondary pull-right"
            (click)="showTranslatePanel($event)">
            <span class="fa fa-language"></span>
            <span translate>
              TRANSLATION
            </span>
          </a>
        }
      </div>
      <div class="col-6">
        <div class="pull-right">
          <span style="font-weight: bold" translate>TYPE</span>:
          <span [class.text-info]="changeLogItem.type == 'feature'"
            [class.text-danger]="changeLogItem.type == 'bugfix'">
            @if (!isEditing()) {
              <span>
                {{changeLogItem.type | translate}}
              </span>
            }
            @if (isEditing()) {
              <kendo-dropdownlist [data]="types" [(ngModel)]="changeLogItem.type" textField="label" valueField="value"
              [valuePrimitive]="true" style="width:100px;"></kendo-dropdownlist>
            }
          </span>
        </div>
        <div class="pull-right pr-4">
          <span style="font-weight: bold" translate>IMPORTANCE</span>:
          @if (!isEditing()) {
            <span [class.text-primary]="changeLogItem.importance == 'high'"
              [class.text-secondary]="changeLogItem.importance == 'low'">
              {{changeLogItem.importance | translate}}
            </span>
          }
          @if (isEditing()) {
            <kendo-dropdownlist [data]="importances" textField="label" valueField="value"
            [(ngModel)]="changeLogItem.importance" [valuePrimitive]="true" style="width: 100px;"></kendo-dropdownlist>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <div class="row">
      <div class="col-lg-8 col-sm-6">
        @for (description of descriptions; track description) {
          <div class="card-text">
            <div class="cardcard-primary p-1">
              <blockquote class="card-blockquote">
                <div>
                  <div class="row bortder border border-bottom-0 border-right-0 border-info">
                    <div class="col-lg-1 col-md-3 col-sm-6 border border-info bg-info text-light rounded">
                      {{description.lang}}
                      <div class="p-2 pl-3 row">
                        @if (description.lang=='hu' ) {
                          <a class=" pl-0 pr-0" (click)="copyMessageUnique(description.text,changeLogItem.ticketNumber)"
                            style="background-color:black">
                            <span class="row border-bottom-0 border-right-0 border-info">
                              <div class="col-lg-1" style="color:white">
                                <img src="../../assets/masol.png">
                              </div>
                            </span>
                          </a>
                        }
                      </div>
                      @if (description.lang=='en' ) {
                        <a class="pl-0 pr-0" (click)="copyMessageUnique(description.text,changeLogItem.ticketNumber)"
                          style="background-color:black">
                          <span class="row border-bottom-0 border-right-0 border-info">
                            <div class="col-lg-1" style="color:white">
                              <img src="../../assets/masol.png">
                            </div>
                          </span>
                        </a>
                      }
                    </div>
                    <div class="col-lg-11 col-md-9 col-sm-6">
                      @if (!isEditing()) {
                        <div style="width: 100%; min-height: 80px;  "
                        [innerHTML]="description.text | safeHtml"></div>
                      }
                      @if (isEditing()&&isEditor) {
                        <kendo-editor [(ngModel)]="description.text"
                          [style]="{'height':'150px'}">
                        </kendo-editor>
                      }
                      @if (isEditing()&&!isEditor) {
                        <textarea cols="30" rows="10" style="width: 100%; height: 80px"
                        [(ngModel)]="description.text"></textarea>
                      }
                    </div>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        }
      </div>
      <div class="col-lg-4 col-sm-6 border border-primary bg bg-light">
        @if (compactTags) {
          <div>
            <app-tags [tags]="compactTags" [editing]="isEditing()"></app-tags>
          </div>
        }
        <dl class="row">
          <dt class="col-lg-6" translate>
            CREATOR
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.cru) ? changeLogItem.cru: 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            CREATED
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.crd) ? (changeLogItem.crd | date: "yyyy.MM.dd. HH.mm") : 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            LAST_MODIFIER
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmu) ? changeLogItem.lmu: 'N.A.'}}
          </dd>
          <dt class="col-lg-6" translate>
            LAST_MODIFIED
          </dt>
          <dd class="col-lg-6">
            {{(changeLogItem.lmd) ? (changeLogItem.lmd | date: "yyyy.MM.dd. HH.mm") : 'N.A.'}}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    @if (!isEditing()) {
      <span>
        {{changeLogItem.date | date: 'yyyy.MM.dd.'}}
      </span>
    }
    <kendo-datepicker [(ngModel)]="changeLogItem.date" format="yyyy/MM/dd" [formatPlaceholder]="{
      year: 'YYYY',
      month: 'MM',
      day: 'DD'
    }" style="width:170px"></kendo-datepicker>
    @if (canBeModified()) {
      <a href="/" class="btn btn-danger pull-right" (click)="deleteMessageShow($event)">
        <span class="fa fa-trash"></span>
      </a>
    }
    @if (canBeModified()) {
      <a href="/" class="btn btn-primary pull-right" (click)="clickMod($event)">
        <span class="fa fa-edit"></span>
      </a>
    }

    @if (isEditing()) {
      <a href="/" class="btn btn-secondary pull-right" (click)="cancelMod($event)">
        <span class="fa fa-close"></span>
      </a>
    }
    @if (isEditing()) {
      <a href="/" class="btn btn-success pull-right" (click)="save($event)">
        <span class="fa fa-save"></span>
      </a>
    }
  </div>
</div>

@if (deleteMessageShown) {
  <kendo-dialog (close)="cancelDelete($event)" (keydown.escape)="cancelDelete($event)">
    <kendo-dialog-titlebar>{{'CONFIRMATION' | translate}}</kendo-dialog-titlebar>
    @if (!version?.releaseDate || (version?.releaseDate == null)) {
      <span style="text-align: left;" translate>
        ARE_YOU_SURE_DELETE_THIS_CHANGE_LOG_ITEM
      </span>
    }
    @if (version?.releaseDate && (version?.releaseDate != null)) {
      <span translate>
        ARE_YOU_SURE_DELETE_RELEASED_CHANGE_LOG_ITEM
      </span>
    }
    <div class="p-2">
      <a href="/" class="btn btn-secondary pull-right" (click)="cancelDelete($event)">
        <span class="fa fa-close" translate>CANCEL</span>
      </a>
      <a href="/" class="btn btn-danger pull-right" (click)="delete($event)">
        <span class="fa fa-trash" translate>DELETE</span>
      </a>
    </div>
  </kendo-dialog>
}

@if (translatePanelShown) {
  <kendo-dialog (close)="cancelTranslate($event)" (keydown.escape)="cancelTranslate($event)">
    <kendo-dialog-titlebar>{{'TRANSLATION' | translate}}</kendo-dialog-titlebar>
    <div class=" p-2">
      <span translate>
        SOURCE_LANGUAGE
      </span>:
      @if (froms&&froms.length>0) {
        <span>
          <kendo-dropdownlist [data]="froms" textField="label" valueField="value" [(ngModel)]="selectedFrom"
          [valuePrimitive]="true"></kendo-dropdownlist>
        </span>
      }
    </div>
    <div class="p-2">
      <span translate>
        GOAL_LANGUAGES
      </span>:
      <kendo-buttongroup selection="multiple">
        @for (to of tos; track to) {
          <button kendoButton [toggleable]="true" [(ngModel)]="selectedTos"
            [selected]="selectedTos.includes(to.value)">
            {{to.label}}
          </button>
        }
      </kendo-buttongroup>
    </div>
    <div class="p-2">
      <a href="/" class="btn btn-secondary pull-right" (click)="cancelTranslate($event)">
        <span class="fa fa-close" translate>CANCEL</span>
      </a>
      <a href="/" class="btn btn-primary pull-right" (click)="translate($event)">
        <span class="fa fa-language" translate>TRANSLATE</span>
      </a>
    </div>
  </kendo-dialog>
}

@if (showReleasedVersionWarning) {
  <kendo-dialog (close)="inssertModReleaseChangeLogCancel($event)"
    (keydown.escape)="inssertModReleaseChangeLogCancel($event)">
    <kendo-dialog-titlebar>{{'CONFIRMATION' | translate}}</kendo-dialog-titlebar>
    <span translate>
      ARE_YOU_SURE_ADDING_MOD_TO_RELEASED_CHANGE_LOG
    </span>
    <!--   <kendo-dialog-actions>
    <button kendoButton (click)="inssertModReleaseChangeLogCancel($event)">{{'CANCEL' | translate}}</button>
    <button kendoButton (click)="inssertModReleaseChangeLogOk($event)">{{'YES' | translate}}</button>
  </kendo-dialog-actions> -->
  <div class="p-2">
    <a href="/" class="btn btn-secondary pull-right" (click)="inssertModReleaseChangeLogCancel($event)">
      <span class="fa fa-close" translate>CANCEL</span>
    </a>
    <a href="/" class="btn btn-success pull-right" (click)="inssertModReleaseChangeLogOk($event)">
      <span class="fa fa-edit" translate>YES</span>
    </a>
  </div>
</kendo-dialog>
}