<h1>Programok</h1>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Username</label>
</span>

<div class="row">
  <div *ngFor="let program of programs" class="col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{program.name}}</h4>
        <p class="card-text">
          <b>Fájl elérési útvonal:</b> {{program.path}}</p>
        <a href="#" class="btn btn-primary" href="/" [routerLink]="['/change-list', program.id, 'latest']">Megnyit</a>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; border-bottom-style: inset; border-bottom-width: 3px"> </div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card card-plus">
      <div class="card-block">
        <h4 class="card-title">Hozzáad</h4>
        <p class="card-text">
          Új program hozzáadása...
        </p>
        <a href="#" class="btn btn-primary" >Létrehoz</a>
      </div>
    </div>
  </div>
</div>