<dl class="row">
  <dt class="col-lg-6">
    {{tag.tagInfo.caption}}
  </dt>
  <dd class="col-lg-6">
    <span *ngIf="!editing ">
      <span *ngIf="values.length == 0">
        N.A.
      </span>
      <span *ngFor="let value of values">
        {{value.caption}}<br/>
      </span>
    </span>    
    <div *ngIf="editing" translate>
        <p-autoComplete [(ngModel)]="values" [suggestions]="allCompactValues"  [multiple]="true"
        field="caption" [inputStyleClass]="'width100'" (completeMethod)="search($event)"
        autoHighlight="true" dataKey="code" minLength="0"></p-autoComplete>
    </div>  

  </dd>
</dl>