<dl class="row">
  <dt class="col-lg-6">
    {{tag.tagInfo.caption}}
  </dt>
  <dd class="col-lg-6">
    <div *ngIf="!editing" [ngSwitch]="tag.tagInfo.dataType">
      <span *ngSwitchCase="'boolean'">
        <span [ngSwitch]="tag.value">
          <span *ngSwitchCase="true" translate>
            YES
          </span>
          <span *ngSwitchCase="false" translate>
            NO
          </span>
          <span *ngSwitchDefault>N. A.</span>
        </span>
      </span>
      <span *ngSwitchCase="'string'">
        <span [ngSwitch]="tag.tagInfo.moreOptionsAllowed">
          <span *ngSwitchCase="true">
            <span *ngIf="values.length == 0">
              N.A.
            </span>
            <span *ngFor="let value of values">
              {{value.caption}}
              <br />
            </span>
          </span>
          <span *ngSwitchDefault>
            {{tag.value}}
          </span>
        </span>
      </span>
      <span *ngSwitchCase="'number'">{{tag.value}}</span>
      <span *ngSwitchDefault>Nem meghatározható adattípus</span>
    </div>
    <div *ngIf="editing" [ngSwitch]="tag.tagInfo.dataType">
      <span *ngSwitchCase="'boolean'">
        <div *ngIf="tag.tagInfo.mandatory; then thenBlock; else elseBlock">this is ignored</div>
        <ng-template #thenBlock>
          <kendo-label [for]="caption" text={{tag.tagInfo.caption}}></kendo-label>
          <input type="checkbox" kendoCheckBox [(ngModel)]="tag.value" #caption />{{tag.tagInfo.caption}}
        </ng-template>
        <ng-template #elseBlock>
          <kendo-label [for]="caption" text={{tag.tagInfo.caption}}></kendo-label>
          <input type="checkbox" kendoCheckBox [(ngModel)]="tag.value" #caption
            [indeterminate]="true" />{{tag.tagInfo.caption}}
        </ng-template>
      </span>
      <span *ngSwitchCase="'string'">
        <span [ngSwitch]="tag.tagInfo.moreOptionsAllowed">
          <span *ngSwitchCase="true">
            <kendo-multiselect [data]="allCompactValues" [(ngModel)]="values" textField="caption"
              valueField="code"></kendo-multiselect>
          </span>
          <span *ngSwitchDefault>
            <input type="text" [(ngModel)]="tag.value">
          </span>
        </span>
      </span>
      <span *ngSwitchCase="'number'">
        <input type="number" [(ngModel)]="tag.value">
      </span>
      <span *ngSwitchDefault>Nem meghatározható adattípus</span>

    </div>
  </dd>
</dl>