<div class="container-fluid">
    <div class="row">
        <app-left-navbar [viewMode]="'NORMAL'"></app-left-navbar>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div class="pb-4">
                <div class="pl-2 pull-left" style="font-size: 32pt">
                    {{'VERSION' | translate}}: {{printVersion()}}
                </div>
                <div class="pl-4 pt-2 pull-right">
                    <span translate>RELEASE_DATE</span>:
                    <span *ngIf="changeList && (changeList != null)">

                        <kendo-datepicker [(ngModel)]="changeList.releaseDate" format="yyyy/MM/dd" [formatPlaceholder]="{
                          year: 'YYYY',
                          month: 'MM',
                          day: 'DD'
                        }" style="width:170px"></kendo-datepicker>
                    </span>
                    <a href="/" class="btn btn-success" (click)="saveReleaseDate($event)">
                        <span class="fa fa-save"></span>
                    </a>
                </div>

            </div>
            <div class="clearfix">
                <!-- msgs notification ide -->
            </div>
            <div class="row">
                <div class="pl-4">
                    <span translate>SHOWN_LANGS</span>:
                    <kendo-buttongroup selection="multiple">
                        <button *ngFor="let lang of langs" kendoButton [toggleable]="true" [(ngModel)]="selectedLangs"
                            [selected]="selectedLangs.includes(lang.value)"
                            (selectedChange)="selectedLangsChange($event, lang)">
                            {{lang.label}}
                        </button>
                    </kendo-buttongroup>
                </div>
                <div class="pl-4">
                    <span translate>IMPORTANCE</span>:
                    <kendo-buttongroup selection="multiple">
                        <button *ngFor="let importance of importances" kendoButton [toggleable]="true"
                            [selected]="selectedImportances.includes(importance.value)"
                            (selectedChange)="selectedImportancesChange($event, importance)">
                            {{importance.label}}
                        </button>
                    </kendo-buttongroup>
                </div>
                <div class="pl-4">
                    <span translate>TYPE</span>:
                    <kendo-buttongroup selection="multiple">
                        <button kendoButton *ngFor="let type of types" [toggleable]="true"
                            [selected]="selectedTypes.includes(type.value)"
                            (selectedChange)="selectedTypesChange($event, type)">
                            {{type.label}}
                        </button>
                    </kendo-buttongroup>
                </div>
            </div>

            <div class="clearfix">
                <a href="/" class="btn btn-primary pull-right"
                    [routerLink]="['/change-list', programId, versionNumber, 'new', 'null']"
                    [queryParams]="{lang: getActualLang()}" *ngIf="isReading()">
                    <span class="fa fa-plus" translate>NEW_CHANGE_LOG</span>
                </a>
                <div class="pl-2">
                    <a class="btn btn-success pull-left" style="color:white" (click)="goCompactView($event)"
                        *ngIf="isReading()">
                        <span class="fa" translate>COMPACT_VIEW</span>
                    </a>
                </div>
                <div *ngIf="isNewEditing()">
                    <app-change-log-item [changeLogItem]="newChangeItem" [action]="'new'" [modId]="'null'"
                        [selectedLangs]="selectedLangs" (deleteOrAddingNew)="getChanges()"></app-change-log-item>
                </div>
            </div>

            <div [hidden]="!loading" class="container">
                <div class="row justify-content-md-center">

                    <kendo-loader type="infinite-spinner"></kendo-loader>
                </div>
            </div>
            <div *ngIf="changeList">
                <div *ngFor="let change of changeList.changes">
                    <app-change-log-item [changeLogItem]="change" [action]="action" [modId]="id"
                        [selectedLangs]="selectedLangs" (deleteOrAddingNew)="getChanges()"></app-change-log-item>
                </div>
            </div>
        </main>
    </div>
</div>