<div class="container-fluid">
    <div class="row">
        <app-left-navbar></app-left-navbar>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div class="pb-4">
                <div class="pl-2 pull-left" style="font-size: 32pt">
                    {{'VERSION' | translate}}: {{printVersion()}}
                </div>
                <div class="pl-4 pt-2 pull-right">
                    <span translate>RELEASE_DATE</span>:
                    <span *ngIf="changeList && (changeList != null)">
                        <p-calendar [(ngModel)]="changeList.releaseDate" dateFormat="yy.mm.dd"></p-calendar>                        
                    </span>
                    <a href="/" class="btn btn-success" (click)="saveReleaseDate($event)">
                        <span class="fa fa-save"></span>
                    </a>
                </div>

            </div>
            <div class="clearfix">
                <p-messages [(value)]="msgs"></p-messages>
            </div>
            <div class="row">
                <div class="pl-4">
                    <span translate>SHOWN_LANGS</span>:
                    <p-selectButton [options]="langs" [(ngModel)]="selectedLangs" [multiple]="true"></p-selectButton>
                </div>
                <div class="pl-4">
                    <span translate>IMPORTANCE</span>:
                    <p-selectButton [options]="importances" [ngModel]="selectedImportances" (ngModelChange)="selectedImportancesChange($event)"
                        [multiple]="true"></p-selectButton>
                </div>
                <div class="pl-4">
                    <span translate>TYPE</span>:
                    <p-selectButton [options]="types" [ngModel]="selectedTypes" (ngModelChange)="selectedTypesChange($event)" [multiple]="true"></p-selectButton>
                </div>
            </div>


            <div class="clearfix">
                <a href="/" class="btn btn-primary pull-right" [routerLink]="['/change-list', programId, versionNumber, 'new', 'null']" [queryParams]="{lang: getActualLang()}"
                    *ngIf="isReading()">
                    <span class="fa fa-plus" translate>NEW_CHANGE_LOG</span>
                </a>
                <div *ngIf="isNewEditing()">
                    <app-change-log-item [item]="newChangeItem" [action]="'new'" [modId]="'null'" [selectedLangs]="selectedLangs" (onDeleteOrAddingNew)="getChanges()"></app-change-log-item>
                </div>
            </div>

            <div [hidden]="!loading" class="container">
                <div class="row justify-content-md-center">
                    <p-progressSpinner animationDuration=".5s"></p-progressSpinner>
                </div>
            </div>
            <div *ngIf="changeList">
                <div *ngFor="let change of changeList.changes">
                    <app-change-log-item [item]="change" [action]="action" [modId]="id" [selectedLangs]="selectedLangs" (onDeleteOrAddingNew)="getChanges()"></app-change-log-item>
                </div>
            </div>
        </main>
    </div>
</div>