<div class="container-fluid">
        <div class="row">    
          <app-left-navbar></app-left-navbar>
          <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">      
                <h1 translate>
                        {{'VERSION' | translate}}: {{version}}
                    </h1>
                    <div>
                        <span translate>SHOWN_LANGS</span>:
                        <p-selectButton [options]="langs" [(ngModel)]="selectedLangs" [multiple]="true"></p-selectButton>
                    </div>
                    
                    <div class="clearfix">
                        <a href="/" class="btn btn-primary pull-right" [routerLink]="['/change-list', programId, version, 'new', 'null']" [queryParams]="{lang: getActualLang()}"
                            *ngIf="isReading()">
                            <span class="fa fa-plus" translate>NEW_CHANGE_LOG</span>
                        </a>
                        <div *ngIf="isNewEditing()">
                            <app-change-log-item [item]="newChangeItem" [action]="'new'" [modId]="'null'" [selectedLangs]="selectedLangs" (onDeleteOrAddingNew)="getChanges()"></app-change-log-item>
                        </div>
                    </div>
                    
                    <div [hidden]="!loading" class="container">
                        <div class="row justify-content-md-center">
                                <p-progressSpinner animationDuration=".5s"></p-progressSpinner>
                        </div>
                    </div>
                    <div *ngIf="changeList">
                        <div *ngFor="let change of changeList.changes">
                            <app-change-log-item [item]="change" [action]="action" [modId]="id" [selectedLangs]="selectedLangs" (onDeleteOrAddingNew)="getChanges()"></app-change-log-item>
                        </div>
                    </div>              
          </main>
        </div>
      </div>